ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px   ;
}

a {
    text-decoration: none;
}

body {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    color: #f9faf8;
    font-size: 25px;
}

.link-container,
a {
    color: #e5e7eb;
    font-size: 18px;

}
