ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px   ;
}

a {
    text-decoration: none;
}

body {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    margin-bottom: 50px;
    color: #f9faf8;
    font-size: 25px;
}

.link-container,
a {
    color: #e5e7eb;
    font-size: 18px;

}

/*  content one below */

.content-one { 
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    padding: 0 200px;
}

.left-content {
    max-width: 300px;
}
.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content-one img {
    width: 500px;
    height: 300px;
}

.content-one p {
    margin: 0px;
}

.hero-button {
    margin-top: 15px;
    background-color: #3882f6;
    border-color: #1f2937;
    border: none;
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
}

/* content two below */